body {
  --playback-logo-image: url('earth.png');
}

cast-media-player {
  --theme-hue: 180;
  --progress-color: rgb(0, 255, 255);
  --splash-image: url('earth.png');
  --splash-size: cover;
  --slideshow-interval: 8;
  --slideshow-animation: 3;
  --slideshow-image-1: url('earth.png');
  --slideshow-image-2: url('earth.png');
  --slideshow-image-3: url('earth.png');
  --slideshow-image-4: url('earth.png');
  --slideshow-image-5: url('earth.png');
  --slideshow-image-6: url('earth.png');
}

/* ------------------------------------------------- */
/* Sample Overlay Text                               */
/* ------------------------------------------------- */
cast-media-player:after {
  content: "SAMPLE";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  margin-top: -150px;
  opacity: 0.5;
  color: red;
}
